body{
	margin:0;
	padding:0;
}

.backgrounds{
	background-image:url("background.png");
	width:100vw;
	height:100vh;
}

.none{
	display:none;
}
.block{
	display:block;
}

.poz1{
	padding:5%;
	float:left;
}
.poz2{
	margin-left:23.5%;
	margin-top:12%;
	float:left;
	
}